/* *{
     selector universal 
    background-color: lightsteelblue;
} */

body{
    /* por elemento */
    background-color: lightsteelblue;
}

h1,h2{
    /* la coma es como Y */
    letter-spacing: 2;
    font-family: monospace;
}

span{
    color: slategray;
}
#login{
    /* selector de id, solo se puede repetir una sola vez en todo el html */
    background-color: steelblue;
    color: tan;
}

.tags{
    /* selector de clases */
    background-color: rgb(51, 71, 107);
    color: seashell;
    font-size: 50%;
}

/* selectores descendientes */
.post a{
    color: rgb(79, 177, 216);
    background-color: none;
}

footer a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}